{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item" aria-current="page">Student</li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock page %}

{% block content %}

<!-- BEGIN: Notification -->
{% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
{% endif %}
<!-- BEGIN: Notification -->

<div class="intro-y box py-5 sm:py-10 mt-5">

    <h2 class="text-primary py-5" style="font-size: 30px; font-weight: 500; text-align: center;">Add Student</h2>
    
    <div class="px-3 sm:px-10 mt-5 pt-5 border-t border-slate-200/60 dark:border-darkmode-400">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"> 

                <div class="col-span-12 text-center">
                    <h2 class="text-primary" style="font-size: 20px; font-weight: 500;">Personal Details</h2>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Student Name</label>
                    <input value="{{ student.Name }}" name="name" type="text" class="form-control" placeholder="Enter Collage Name Here" required maxlength="50">
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Contact Number</label>
                    <input value="{{ student.Mobile }}" name="mobile" type="text" class="form-control" placeholder="Enter Collage Contact Number Here" required maxlength="15">
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Contact Email</label>
                    <input value="{{ student.Email }}" name="email" type="email" class="form-control" placeholder="Enter Collage Email Here" required>
                </div>

                <div class="intro-y col-span-12 sm:col-span-6">
                    <label for="input-wizard-2" class="form-label">Place</label>
                    <input value="{{ student.Place }}" name="place" type="text" class="form-control" placeholder="Enter Student Place Here" required>
                </div>

                <div class="col-span-12 text-center mt-3">
                    <h2 class="text-primary" style="font-size: 20px; font-weight: 500;">Course Details</h2>
                </div>

                <div class="intro-y col-span-12 sm:col-span-4">
                    <label for="input-wizard-2" class="form-label">Collage</label>
                    <select name="collage" id="" class="form-control">
                        <option value="{{ student.Collage.id }}">{{ student.Collage }}</option>
                        {% for collage in collages %}
                            <option value="{{ collage.id }}">{{ collage }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="intro-y col-span-12 sm:col-span-4">
                    <label for="input-wizard-2" class="form-label">Course</label>
                    <select name="course" id="course" class="form-control">
                        <option value="{{ student.Course.id }}">{{ student.Course }}</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="intro-y col-span-12 sm:col-span-4">
                    <label for="input-wizard-2" class="form-label">Addon</label>
                    <select name="addon" id="addons" class="form-control">
                        <option value="{{ student.Addon.id }}">{{ student.Addon.Title }}</option>
                        {% for addon in addons %}
                            <option value="{{ addon.id }}">{{ addon.Title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-span-12 text-center mt-3">
                    <h2 class="text-primary" style="font-size: 20px; font-weight: 500;">Fees Details</h2>
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Fees</label>
                    <input value="{{ student.Fees }}" name="fees" id="fees" type="number" step="0.01" class="form-control" placeholder="Enter Fees Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Donation</label>
                    <input value="{{ student.Donation }}" name="donation" id="donation" type="number" step="0.01" class="form-control" placeholder="Enter Donation Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Discount</label>
                    <input value="{{ student.Discount }}" name="discount" id="discount" type="number" step="0.01" class="form-control" placeholder="Enter Discount Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Total</label>
                    <input value="{{ student.Total }}" name="total" id="total" type="number" step="0.01" class="form-control" placeholder="Total Amount" readonly>
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">1st Payment</label>
                    <input value="{{ student.First_Payment }}" name="first_payment" type="number" step="0.01" class="form-control" placeholder="1st Payment Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Service</label>
                    <input value="{{ student.Service }}" name="service" type="number" step="0.01" class="form-control" placeholder="Service Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Collage Payment</label>
                    <input value="{{ student.Collage_Payment }}" name="collage_payment" type="number" step="0.01" class="form-control" placeholder="Collage Payment Amount">
                </div>

                <div class="intro-y col-span-12 sm:col-span-3">
                    <label for="input-wizard-2" class="form-label">Agent</label>
                    <select name="agent" id="" class="form-control">
                        <option value="{{ student.Agent.id }}">{{ student.Agent }}</option>
                        {% for agent in agents %}
                            <option value="{{ agent.id }}">{{ agent.Name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                    <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}