{% extends 'Frontpage/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontpage/css/contacts.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/custome.css' %}">
{% endblock css %}

{% block content %}
    <header class="page">
        <div class="page_main">
            <div class="underlay"></div>
            <div class="container">
                <div class="content-wrapper">
                    <h1 class="page_main-header">Contact Us</h1>
                    <p class="page_main-text">
                        Donec accumsan, dolor ac malesuada rhoncus, leo arcu pellentesque dolor, nec tristique diam neque vitae sem.
                        Nulla a lectus sollicitudin, volutpat lacus id, eleifend ipsum.
                    </p>
                </div>

                <ul class="page_main-list d-sm-flex flex-wrap justify-content-center">
                    <li class="page_main-list_item" data-aos="fade-up">
                        <div class="wrapper">
                            <div class="content d-flex justify-content-sm-center">
                                <i class="icon-map-marker-alt-solid icon"></i>
                                <div class="block">
                                    <span class="content_text text">3rd Floor Hlite Business Park Calicut</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page_main-list_item" data-aos="fade-up" data-aos-delay="50">
                        <div class="wrapper">
                            <div class="content d-flex justify-content-sm-center">
                                <i class="icon-phone-solid icon"></i>
                                <div class="block d-flex flex-column">
                                    <a class="content_link text" href="tel:+1234567890">+91 799 42 444 69</a>
                                    <a class="content_link text" href="tel:+1234567890">+91 799 42 444 63</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page_main-list_item" data-aos="fade-up" data-aos-delay="100">
                        <div class="wrapper">
                            <div class="content d-flex justify-content-sm-center">
                                <i class="icon-envelope icon"></i>
                                <div class="block d-flex flex-column">
                                    <a class="content_link text" href="mailto:example@domain.com">info@elevatestudylinks.com</a>
                                    <a class="content_link text" href="mailto:example@domain.com">tc@elevatestudylinks.com</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- contacts content start -->
    <main class="contacts">
        <section class="contacts_form">
            <div class="container">
                <div class="contacts_form-header">
                    <h2 class="contacts_form-header_title">Our experts will help you</h2>

                    <p class="contacts_form-header_text text">
                        If you have questions about the format or do not know what to choose, leave your request: we will be happy to
                        answer all your questions.
                    </p>
                </div>
                <form class="contacts_form-form" action="." method="post" id="contact-form">
                    <div class="contacts_form-form_wrapper d-sm-flex justify-content-between">
                        <input name="name" class="field required" type="text" placeholder="Name" id="name" />
                        <input name="email" class="field required" type="text" data-type="email" placeholder="Email" id="email" />
                    </div>
                    <div class="contacts_form-form_wrapper d-sm-flex justify-content-between">
                        <input name="mobile" class="field required" type="text" data-type="tel" placeholder="Phone number" id="mobile" />
                        <input name="subject" class="field required" type="text" placeholder="Subject" id="subject" />
                    </div>
                    <textarea
                        name="description"
                        class="field required"
                        placeholder="Your message here"
                        data-type="message"
                        id="description"
                    ></textarea>
                    <p id="success-msg" style="display: none; color: green;"> Enquiry Submited Successfully ... ! </p>
                    <div class="contacts_form-form_footer">
                        <button class="btn btn--gradient" type="submit" id="submit-btn">
                            <span class="text">Send a Message</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- contacts content end -->

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $('#submit-btn').on('click',function(){
            var name = $('#name').val()
            var email = $('#email').val()
            var mobile = $('#mobile').val()
            var subject = $('#subject').val()
            var description = $('#description').val()

            $.ajax({
                url : '{% url "contact" %}',
                type : 'POST',
                data : {
                    'name' : name,
                    'email' : email,
                    'mobile' : mobile,
                    'subject' : subject,
                    'description' : description
                },

                success : function(response){
                    $('#contact-form').trigger('reset')
                    $('#success-msg').show()
                }
            })
        })
    </script>
{% endblock content %}