{% extends 'Frontpage/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontpage/css/events.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/custome.css' %}">
{% endblock css %}

{% block content %}
<header class="page">
    <div class="page_main">
        <div class="underlay"></div>
        <div class="container">
            <div class="content-wrapper">
                <h1 class="page_main-header">News & Updates</h1>
                <p class="page_main-text">
                    Donec accumsan, dolor ac malesuada rhoncus, leo arcu pellentesque dolor, nec tristique diam neque vitae sem.
                    Nulla a lectus sollicitudin, volutpat lacus id, eleifend ipsum.
                </p>

                <form class="page_main-form" action="#" method="post" data-type="search">
                    <i class="icon-search-solid icon"></i>
                    <input class="field required" type="search" placeholder="Search for…" />
                </form>
            </div>
        </div>
    </div>
</header>
<!-- events content start -->
<main>

    <section class="event">
        <div class="container d-lg-flex justify-content-between">
            <div class="event_media">
                <picture>
                    {% if last_news.Image %}
                        <img class="lazy" data-src="{{ last_news.Image.url }}" src="{{ last_news.Image.url }}" alt="media" />
                    {% else %}
                        <img class="lazy" data-src="{% static 'frontpage/img/placeholder.jpg' %}" src="{% static 'frontpage/img/placeholder.jpg' %}" alt="media" />
                    {% endif %}
                </picture>
                <span class="event-date">
                    <span class="day">{{ last_news.Date | date:'d' }}</span>
                    <span class="month">{{ last_news.Date | date:'M' }}</span>
                </span>
            </div>
            <div class="event_main">
                <h3 class="event_main-title">{{ last_news.Title }}</h3>
                <span class="event_main-price event-price text">{{ last_name.Sub_Title }}</span>
                <p class="event_main-text">{{ last_news.Description }}</p>
                
                <a class="event_main-btn btn btn--gradient" href="#">
                    <span class="text">Read More</span>
                </a>
            </div>
        </div>
    </section>

    <section class="list">
        <div class="container">
            <ul class="list_events d-md-flex flex-wrap">
                
                {% for news in newses %}
                    <li class="list_events-card col-md-6 col-lg-4" data-aos="fade-up" data-order="6">
                        <div class="card-wrapper d-flex flex-column">
                            <div class="media">
                                <picture>
                                    {% if news.Image %}
                                        <img class="lazy" data-src="{{ news.Image.url }}" src="{{ news.Image.url }}" alt="media" />
                                    {% else %}
                                        <img class="lazy" data-src="{% static 'frontpage/img/placeholder.jpg' %}" src="{% static 'frontpage/img/placeholder.jpg' %}" alt="media" />
                                    {% endif %}
                                </picture>
                                <span class="event-date">
                                    <span class="day">{{ news.Date | date:'d' }}</span>
                                    <span class="month">{{ news.Date | date:'M' }}</span>
                                </span>
                            </div>
                            <div class="main d-flex flex-column justify-content-between">
                                <span class="main_price event-price">{{ news.Sub_Title }}</span>
                                <h4 class="main_title">{{ news.Title }}</h4>
                                <p class="main_text">{{ news.Description | slice:':75' }}...</p>
                                <a class="main_btn btn btn--bordered btn--arrow" href="">
                                    Read More <i class="icon-arrow-right-solid icon"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <div class="pagination d-flex align-items-center justify-content-sm-end">
                <ul class="pagination_pages d-flex">
                    <li class="pagination_pages-page">
                        <a class="page active" href="#">
                            <span class="page-number">1</span>
                        </a>
                    </li>
                    <li class="pagination_pages-page">
                        <a class="page" href="#">
                            <span class="page-number">2</span>
                        </a>
                    </li>
                    <li class="pagination_pages-page">
                        <a class="page" href="#">
                            <span class="page-number">3</span>
                        </a>
                    </li>
                </ul>
                <a class="pagination_next" href="#">
                    <i class="icon-angle-right icon"></i>
                </a>
            </div>
        </div>
    </section>
</main>
<!-- events content end -->
{% endblock content %}