{% extends 'Frontpage/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontpage/css/courses.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/custome.css' %}">
{% endblock css %}

{% block content %}
<header class="page">
    <div class="page_main">
        <div class="underlay"></div>
        <div class="container">
            <div class="content-wrapper">
                <h1 class="page_main-header">Places to Study in India</h1>
                <p class="page_main-text">
                    Donec accumsan, dolor ac malesuada rhoncus, leo arcu pellentesque dolor, nec tristique diam neque vitae sem.
                    Nulla a lectus sollicitudin, volutpat lacus id, eleifend ipsum.
                </p>

                <form class="page_main-form" action="#" method="post" data-type="search">
                    <i class="icon-search-solid icon"></i>
                    <input class="field required" type="search" placeholder="Search for…" />
                </form>
            </div>
        </div>
    </div>
</header>

<!-- courses content start -->
<main>
    <!-- courses list section start -->
    <section class="list mb-5">
        <div class="container">
            <!-- <ul class="list_tags courses-tags d-flex flex-wrap align-items-center justify-content-center">
                <li class="list-item" data-aos="fade-left">
                    <a data-target="all" class="list_tags-tag tag current" href="#">all</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="50">
                    <a data-target="programming" class="list_tags-tag tag" href="#">programming</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="100">
                    <a data-target="management" class="list_tags-tag tag" href="#">management</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="150">
                    <a data-target="art" class="list_tags-tag tag" href="#">art</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="200">
                    <a data-target="marketing" class="list_tags-tag tag" href="#">digital marketing</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="250">
                    <a data-target="gamedev" class="list_tags-tag tag" href="#">game development</a>
                </li>
                <li class="list-item" data-aos="fade-left" data-aos-delay="300">
                    <a data-target="smm" class="list_tags-tag tag" href="#">smm</a>
                </li>
            </ul> -->
            <ul class="list_courses d-md-flex flex-wrap">

                {% for place in places %}
                    <li class="list_courses-card course-card col-12 col-md-6 col-xl-4" data-groups='["gamedev", "programming"]'>
                        <div class="course-card_wrapper">
                            <div class="d-flex align-items-start">
                                {% if place.Image %}
                                    <img style="border-top-left-radius: 12px; border-top-right-radius: 12px; max-height: 200px; object-fit: cover;" src="{{ place.Image.url }}" alt="">
                                {% else %}
                                    <img style="border-top-left-radius: 12px; border-top-right-radius: 12px; max-height: 200px; object-fit: cover;" src="{% static 'dashboard/images/no-image.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="pricing">
                                <span class="pricing_price h5">{{ place.Name }}</span>
                            </div>
                            <div class="bottom">
                                <a class="bottom_btn btn btn--bordered btn--arrow" href="">
                                    Why Choose {{ place.Name }} <i class="icon-arrow-right-solid icon"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

                <li style="display: none;"></li>
                
            </ul>
        </div>
    </section>
    <!-- courses list section end -->
</main>
<!-- courses content end -->
{% endblock %}