{% extends 'Frontpage/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontpage/css/course.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/css/custome.css' %}">
{% endblock css %}

{% block content %}

    <!-- course content start -->
    <main>
        <!-- hero section start -->
        <section class="hero" style="padding: 100px 0 120px !important">
            <div class="underlay">
                <div class="underlay_bg rellax"></div>
            </div>
            <div class="container d-flex flex-column align-items-center">
                <h2 class="hero_header">Why Choose {{ location.Name }}</h2>
                <p class="hero_text" style="text-align: center;">
                    Donec accumsan, dolor ac malesuada rhoncus, leo arcu pellentesque dolor, nec tristique diam neque vitae sem. Nulla a
                    lectus sollicitudin, volutpat lacus id, eleifend ipsum. Etiam sollicitudin faucibus nibh sed ultrices
                </p>
            </div>
        </section>
        
        <div class="presentation">
            <div class="container">
                <div class="presentation_video">
                    <div class="cover">
                        <div class="cover_media">
                            <picture>
                                {% if location.Image %}
                                    <img class="lazy" data-src="{{ location.Image.url }}" src="{{ location.Image.url }}" alt="media" />
                                {% else %}
                                    <img class="lazy" data-src="{% static 'frontpage/img/placeholder.jpg' %}" src="{% static 'frontpage/img/placeholder.jpg' %}" alt="media" />
                                {% endif %}
                            </picture>
                        </div>
                        <a class="cover_play" href="#">
                            <lottie-player
                                src="{% static 'frontpage/lottie/play.json' %}"
                                background="transparent"
                                speed=".5"
                                style="width: 100%; height: 100%"
                                loop
                                autoplay
                            ></lottie-player>
                        </a>
                    </div>
                    <iframe
                        src="https://www.youtube.com/embed/XHOmBV4js_E?controls=0"
                        title="YouTube video player"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
        <!-- hero section end -->

        <!-- skills section start -->
        <section class="skills" id="skills">
            <div class="container">
                <div class="skills_header">
                    <h2 class="skills_header-title">Benefits you will get</h2>
                    <p class="skills_header-text">
                        Duis ac tristique justo. Nulla porttitor mattis nibh, et dignissim nibh ullamcorper a. Donec dignissim semper
                        facilisis. Nunc consectetur mauris consectetur justo gravida, eu tristique urna mattis
                    </p>
                </div>
            </div>
        </section>
        <!-- skills section end -->
        
        <!-- course program section start -->
        <section class="program" id="program">
            <div class="container">
                <div class="program_header d-lg-flex align-items-start">
                    <div class="block col-lg-5 col-xl-4">
                        <h3 class="program_header-title">Course program:</h3>
                        <span class="program_header-text text text--sm">All course - 3 Units ( 320 hours)</span>
                    </div>
                    <p class="program_header-description">
                        Duis maximus nisl gravida elit molestie tincidunt. Duis ac tristique justo. Nulla porttitor mattis nibh, et
                        dignissim nibh ullamcorper a. Donec dignissim semper facilisis. Nunc consectetur mauris consectetur justo
                        gravida, eu tristique urna mattis. Fusce eu dolor vitae dui semper gravida ut quis nisi. Praesent semper
                        suscipit bibendum. Mauris sed dictum ipsum. Aenean dictum ipsum eu arcu pretium, vestibulum malesuada orci
                        tincidunt. Aenean ut fringilla velit. In tincidunt, mauris ut vestibulum tristique, neque enim posuere diam, ut
                        ullamcorper diam dui eu mauris
                    </p>
                </div>
            </div>
        </section>
        <!-- course program section end -->
        
    </main>
    <!-- course content end -->

{% endblock content %}